{% extends "user_sidebar.html" %} {% block title%}Consultation Packages | Bizconnect{%endblock%} {% load static%} {% block content %}
<div class="content wrapper mt-80">
    <div class="container mt-25">
        <div>
            <h2>Consultation Packages</h2>
            <div class=" mt-35">
                <div class="solution__area-right lg-center">
                    <a class="theme-bg-btn" href="{% url 'consultation_package_form' %}">Get started<i
                            class="flaticon-arrow-right"></i></a>
                </div>
            </div>
        </div>
        {% if packages %}
            <div class="row">
                {% for package in packages %}
                <div class="blog__standard-left-item col-lg-6 col-md-6 col-sm-12 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog__standard-left-item-content mt-30">
                        <ul>
                            <li class="blog__standard-left-item-content-date mr-40 md-mr-25"><span>{{ package.package_type }}</span></li>
                            <li class="mr-30 md-mr-15"><i class="flaticon-time-is-money"></i> {{ package.package_price }}</li>
                        </ul>
                        <h3 class="mb-15">{{ package.title }}</h3>
                        <p class="mb-20">{{ package.description }} </p>
                        <div class="pr-30">
                            <a class="pr-50" href="#">Delete</a>                        
                        </div>
                    </div>               
                </div>
                {% endfor %}           
            </div> 
        {% else %}
            <div>
                <div class="blog__standard-left-item mb-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog__standard-left-item-content mt-30">
                        <h3 class="mb-15">No Packages present.</h3>
                    </div>
                </div>
            </div>
        {% endif %}

        

    </div>
</div>




{% endblock content %}

