{% extends "user_sidebar.html" %} {% block title %}Resource Form | Bizconnect{% endblock title %}{% load static %}
{% block content %}
<div class="content wrapper mt-80">
    <div class="container mb-30">
        <div class="blog__standard-left">
            <div class="blog__standard-left-item mb-30">
                
                <div class="blog__standard-left-item-content">
                    <ul>
                        <li ><h3 style="font-size: 30px;">Share your content</h3></li>
                    </ul>
                    <p class="mb-20"><span class="small-dot">&bull;</span> You are required to submit articles, templates and best practices that provide more elicit information about your discussion with the entrepreneur.</p>                          
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-25">
        <div class="row">
            <div class="col-xl-12">
                <div class="register wow fadeInUp" data-wow-delay="0.8s">
                    <h4 class="mb-35">All Fields with (*) are required.</h4>
                    <div class="register-form">
                        <form action="{% url "resource_form" %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Title <span style="color: red;">*</span></label>
                                        <input type="text" name="title" placeholder="Title of Idea" required>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <label>Description <span style="color: red;">*</span></label>
                                        <textarea name="description"
                                            placeholder="Describe your idea" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Type: <span style="color: red;">*</span></label>
                                        <select id="type" name="type" required>
                                            <option value="">Select an option</option>
                                            <option value="Article">Articles</option>
                                            <option value="Template">Templates</option>
                                            <option value="Best Practice">Best practices</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Upload your file (.pdf,.ppt,.pptx) <span style="color: red;">*</span></label>
                                        <input type="file" style="padding-top: 5px;" name="documents" required accept=".pdf,.ppt,.pptx">
                                    </div>
                                </div>                                                          

                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-lg-4 mb-20">
                                    <div class="register-form-group">
                                        <button class="theme-btn" type="submit">Share</button>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-4 col-lg-5">
                                    <div class="register-form-group">
                                        <button class="theme-btn" style="background: #030A15;" type="button" onclick="javascript:history.back()">Back</button>
                                    </div>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}