{% extends "user_sidebar.html" %} {% block title%}Business Proposal Form | Bizconnect{%endblock%} {% load static%} {% block content %}

    <div class="content wrapper mt-80">
        <div class="container ">
            <div class="blog__standard-left">
                <div class="blog__standard-left-item mb-30">
                    
                    <div class="blog__standard-left-item-content">
                        <ul>
                            <li ><h3 style="font-size: 30px;">Business Proposals</h3></li>
                        </ul>
                        <p class="mb-20"><span class="small-dot">&bull;</span>Bizconnect is a platform used to showcase your business ideas to help you move your business forward. With our extensive network of business professionals, you can find guidance in a variety of areas, including marketing, finance, operations and accounting.</p>
                        <p class="mb-20"><span class="small-dot">&bull;</span> Fill out the form below to tell us about your business aspects, planning and innovation. We'll then assess your submission and provide confirmation on your acceptance.</p>                          
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="register wow fadeInUp" data-wow-delay="0.8s">
                        <h4 class="mb-35">All Fields with (*) are required.</h4>
                        <div class="register-form">
                            <form action="{% url 'business_ideal_form' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Title <span style="color: red;">*</span></label>
                                            <input type="text" name="title" placeholder="Title of Idea" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <label>Description <span style="color: red;">*</span></label>
                                            <textarea name="description"
                                                placeholder="Describe your idea" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Business Industry <span style="color: red;">*</span></label>
                                            <select id="industry" name="industry" required>
                                                <option value="">Select an option</option>
                                                <option value="technology">Technology</option>
                                                <option value="education">Education</option>
                                                <option value="healthcare">Healthcare</option>
                                                <option value="real-estate">Real Estate</option>
                                                <option value="tourism">Tourism</option>
                                                <option value="retail">Retail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <label>Target Market <span style="color: red;">*</span></label>
                                            <textarea name="market" required
                                                placeholder="Describe your target market"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <label>Monetary Value <span style="color: red;">*</span></label>
                                            <textarea name="business-model" required
                                                placeholder="Explain how the business will make money."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <label>Financial Projections <span style="color: red;">*</span></label>
                                            <textarea name="projections" required
                                                placeholder="Summarise your financial projections (revenue, expenses, profit) for the next few years."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="register-form-group">
                                            <label>Goals</label>
                                            <textarea name="goals"
                                                placeholder="Key goals and milestones for the business idea."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Upload the pitch deck (.pdf,.ppt,.pptx) <span style="color: red;">*</span></label>
                                            <input type="file" style="padding-top: 5px;" name="pitch-deck" placeholder="Upload the pitch deck in PDF or PowerPoint format (Max. 32MB)" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Upload a business plan (.pdf,.ppt,.pptx) <span style="color: red;">*</span></label>
                                            <input type="file" style="padding-top: 5px;" name="plan" placeholder="Upload a detailed business plan in PDF or PowerPoint format (Max. 32MB)" required accept=".pdf,.ppt,.pptx">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Upload a video pitch (.mp4,.ts) <span style="color: red;">*</span></label>
                                            <input type="file" style="padding-top: 5px;" name="video" placeholder="Upload a video pitch for your business (Max. 32MB)." accept="video/*">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="register-form-group">
                                            <label>Upload supporting documents (.pdf)</label>
                                            <input type="file" style="padding-top: 5px;" name="support" placeholder="Supporting documents (Max. 32MB)." multiple>
                                        </div>
                                    </div>
                                                                       
    
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-md-6 col-lg-4 mb-20">
                                        <div class="register-form-group">
                                            <button class="theme-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-4 col-lg-5">
                                        <div class="register-form-group">
                                            <button class="theme-btn" style="background: #030A15;" type="button" onclick="javascript:history.back()">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

