{% extends "user_sidebar.html" %} {% block title %}Service Requests | Bizconnect{% endblock title %} {% load static %}

{% block content %}
<div class="content wrapper mt-80">
    
    <div class="container ">
        <div class="blog__standard-left">
            <div class="blog__standard-left-item mb-30">
                
                <div class="blog__standard-left-item-content">
                    <ul>
                        <li ><h3 style="font-size: 30px;">Need Help with your Business</h3></li>
                    </ul>
                    <p class="mb-20"><span class="small-dot">&bull;</span>Bizconnect can connect you with the right expert to help you move your business forward.</p>
                    <p class="mb-20"><span class="small-dot">&bull;</span> Fill out the form below to tell us about your business challenge and what kind of assistance you need. We'll then match you with a qualified experts to provide the necessary support.</p>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="register wow fadeInUp" data-wow-delay="0.8s">
                    <h4 class="mb-35">All Fields with (*) are required.</h4>
                    <div class="register-form">
                        <form action="{% url 'submit_service_request' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Title <span style="color: red;">*</span></label>
                                        <input type="text" name="title" placeholder="Title of Business Idea" required>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Business Industry <span style="color: red;">*</span></label>
                                        <select id="industry" name="industry" required>
                                            <option value="">Select an option</option>
                                            <option value="technology">Technology</option>
                                            <option value="education">Education</option>
                                            <option value="healthcare">Healthcare</option>
                                            <option value="real-estate">Real Estate</option>
                                            <option value="tourism">Tourism</option>
                                            <option value="retail">Retail</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <label>Description <span style="color: red;">*</span></label>
                                        <textarea name="description"
                                            placeholder="Describe what kind of assistance you need." required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <label>Target Market <span style="color: red;">*</span></label>
                                        <textarea name="market" required
                                            placeholder="Describe your target market"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Preferred Consultation Time <span style="color: red;">*</span></label>
                                        <input type="time" id="consultation-time" name="consultation_time"  required>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="register-form-group">
                                        <label>Preferred Consultation Date <span style="color: red;">*</span></label>
                                        <input type="date" id="consultation-date" name="consultation_date"  required>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <label>Urgency Level <span style="color: red;">*</span></label>
                                        <select id="urgency-level" name="urgency_level" required>
                                            <option value="">Select an option</option>
                                            <option value="low">Low</option>
                                            <option value="medium">Medium</option>
                                            <option value="high">High</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <label>Attachments (if any)</label>
                                        <input type="file" style="padding-top: 5px;" name="attachment" multiple>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="register-form-group">
                                        <textarea name="comments"
                                            placeholder="Additional Comments"></textarea>
                                    </div>
                                </div>
  
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-lg-4 mb-20">
                                    <div class="register-form-group">
                                        <button class="theme-btn" type="submit">Submit</button>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-4 col-lg-5">
                                    <div class="register-form-group">
                                        <button class="theme-btn" style="background: #030A15;" type="button" onclick="javascript:history.back()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}