{% extends "user_sidebar.html" %}{% block title %}Dashboard | Bizconnect{% endblock title %}{% load static %}

    {% block content %}

    <div class="content wrapper">
        
        <p>welcome back </p>
         <div class="features__area section-padding pb-0">
             <div class="container">
                 <div class="row">
                     <div class="col-xl-3 col-lg-4 col-md-6 mb-30 ">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.3s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>01</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-analysis"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Strong Business Planing</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.6s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>02</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-data-scientist"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Business Management</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="0.9s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>03</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-digital-marketing"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Marketing Advice</h4>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-4 col-md-6">
                         <div class="features__area-item wow fadeInUp" data-wow-delay="1.2s">
                             <div class="features__area-item-image" style="background-image: url(assets/img/features.jpg);"></div>
                             <span>04</span>
                             <div class="features__area-item-icon">
                                 <i class="flaticon-big-data"></i>
                             </div>
                             <div class="features__area-item-content">
                                 <h4>Expert User Research</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        {% if request.user.is_investor %}
        <div class="blog__area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-30">
                        <div class="blog__area-item wow fadeInUp" data-wow-delay="0.4s">
                            
                            <div class="blog__area-item-content pt-0">
                                <div>
                                    <h4>ROI Trends Over 6 Months</h4>
                                    <canvas id="roiTrends" width="600" height="600"></canvas>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="blog__area-item wow fadeInUp" data-wow-delay="0.4s">
                            
                            <div class="blog__area-item-content pt-0">
                                <div>
                                    <h4>Investment Returns by Business</h4>
                                    <canvas id="investmentReturns" width="600" height="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="blog__area-item wow fadeInUp" data-wow-delay="0.4s">
                            
                            <div class="blog__area-item-content pt-0">
                                <div>
                                    <h4>Pledged Funds and Funding Progress</h4>
                                    <canvas id="pledgedFundsProgress" width="600" height="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-30">
                        <div class="blog__area-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="blog__area-item-content pt-0">
                                <div>
                                    <h4>Portfolio Diversification</h4>
                                    <canvas id="portfolioDiversification" ></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
     {% endblock content %}