{% extends "user_sidebar.html" %} {% block title %}Investment Deals |
Bizconnect{% endblock title %}{% load static %}
{% block content %}
<style>
    .search-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ddd;
        padding: 10px;
        border-radius: 5px;
    }

    .search-container input {
        width: 200px;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .custom-container {
        display: flex;
        justify-content: flex-end; 
        padding: 20px;
    }
</style>
<div class="content wrapper mt-80">
    <div class="container mt-25">
        <div>
            <h2>Investment deals</h2>
            {% if request.user.is_entrepreneur %}
            <div class=" mt-35">
                <div class="solution__area-right lg-center">
                    <a class="theme-bg-btn" href="{% url 'investment_deal_form' %}">Get started<i
                            class="flaticon-arrow-right"></i></a>
                </div>
            </div>
            {% endif %}
            
        </div>
        {% if request.user.is_investor %}
        <div class="custom-container">
            <form method="GET" action="{% url 'investment_deals' %}">
                <div class="search-container mb-30">
                    <input required type="text" name="q" id="deal-search-input" placeholder="Search by Title, Industry">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </div>
            </form>
        </div>
        {% endif %}
        
        {% if deals %}
        <div class="row">
            {% for deal in deals %}
            <div class="blog__standard-left-item col-lg-6 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog__standard-left-item-content mt-30">
                    <ul>
                        <li class="blog__standard-left-item-content-date mr-30 md-mr-25"><span>{{ deal.industry }}</span></li>
                        <li class="mr-20 md-mr-15"><h6>Valuation:</h6> {{ deal.valuation }}</li>
                        <li><h6>Funding Goal:</h6> {{ deal.funding_goal }}</li>
                    </ul>
                    <h3 class="mb-15">{{ deal.title }}</h3>
                    <p class="mb-20">{{ deal.terms }} </p>
                    <div class="pr-30">
                        <a class="pr-50" href="{% url 'businessidea_detail' deal.id %}?type=deal">Read More</a>
                        {% if request.user.is_entrepreneur %}
                        <a href="#">Delete</a>
                        {% elif request.user.is_investor and deal.status == 'Pending' %}
                        <a href="{% url "investment_funding_form" deal.id %}"> Fund</a>
                        {% endif %}
                        
                    </div>
                </div>               
            </div>
            {% endfor %}
            

        </div> 
        {% else %}
        <div>
            <div class="blog__standard-left-item mb-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog__standard-left-item-content mt-30">

                    <h3 class="mb-15">No investment deals present.</h3>
                    
                </div>
            </div>

        </div>
        {% endif %}
        

    </div>
</div>
{% endblock content %}