{% extends "index.html" %} {% block title%} About Page{%endblock%} {% load static%} {% block content %}

<!-- About Area Start -->
<div class="about__area section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-5 lg-mb-40">
                <div class="about__area-left wow fadeInUp" data-wow-delay="1s">
                    <div class="about__area-left-image mr-50 ml-50 mb-80">
                        <img src="{% static 'assets/img/about-1.jpg'%}" alt="">
                        <div class="about__area-left-image-small-img">
                            <img src="{% static 'assets/img/about-2.jpg'%}" alt="">
                        </div>
                    </div>
                </div>					
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="about__area-right wow fadeInUp" data-wow-delay="1.5s">
                    <div class="about__area-right-content">
                        <span class="section-top mb-15">Company About</span>
                        <h2 class="mb-40">We take care of your business to grow</h2>
                        <p class="mb-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="about__area-right-list mb-40">
                        <div class="row">
                            <div class="col-sm-6 mb-15">
                                <p><i class="flaticon-check"></i>Business Structures</p>
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p><i class="flaticon-check"></i>Support Customization</p>
                            </div>
                            <div class="col-sm-6 sm-mb-15">
                                <p><i class="flaticon-check"></i>Strong Business Planing</p>
                            </div>
                            <div class="col-sm-6">
                                <p><i class="flaticon-check"></i>Security & Location</p>
                            </div>
                        </div>
                    </div>
                    <div class="about__area-right-bottom pt-40">
                        <div class="row align-items-center">
                            <div class="col-sm-6 sm-mb-20">
                                <a class="theme-btn" href="about.html">Read More <i class="flaticon-arrow-right"></i></a>
                            </div>
                            <div class="col-sm-6">
                                <div class="about__area-right-bottom-signature">
                                    <img src="{% static 'assets/img/signature.png'%}" alt="">
                                </div>
                            </div>
                        </div>									
                    </div>
                </div>					
            </div>
        </div>
    </div>
</div>
<!-- About Area ends here -->

{%endblock%}