{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- --><!-- -->
<head>
    <!-- Start Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Bizconnect - Business Management Platform" />
    <meta name="keywords" content="Creative, Digital, multipage, landing, freelancer template" />
    <meta name="author" content="ThemeOri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title of Site -->
    <title>Bizconnect | Business Management Platform</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- Swiper -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/sass/style.css' %}">
</head>

<body>
	<div class="solution__area">
		<div class="container">
			<div class="solution__area-bg" data-background="{% static 'assets/img/solution.png' %}">
				<div class="row align-items-center">
					<div class="col-xl-9 col-lg-9 lg-mb-30">
						<p style="color: white; font-weight: bold; font-family: Arial; font-size: 16px;">ERROR</p>
						<div class="solution__area-left lg-center">
							
							<h2 class="mb-45">ERROR</h2>	
						</div>					
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="error__area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="error__area-content t-center">
						<img src="{% static 'assets/img/error.png' %}" alt="">
						<h3 class="mb-15">SORRY, SOMETHING WENT WRONG!</h3>
						<p class="mb-25">{{	error }}</p>
						<a class="theme-btn" href="javascript:history.back()">Back <i class="flaticon-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer Area Start -->
	<div class="footer__area" data-background="assets/img/footer.png">
		<div class="footer__area-copyright pt-35 pb-35">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-5 md-mb-20">
						<div class="footer__area-copyright-left st-center">
							<p>© 2022 Bizconnect - All rights reserved.</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-7">
						<div class="footer__area-copyright-right t-right st-center">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="error.html">Error</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Area End -->	
	<!-- Scroll Top Start -->
	<div class="scroll-top">	<i class="flaticon-up-arrow"></i>
	</div>
	<!-- Scroll Top End -->
	<!-- Main JS -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Counterup -->
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- Popper JS -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Progressbar JS -->
	<script src="assets/js/progressbar.min.js"></script>
	<!-- Magnific JS -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Swiper JS -->
	<script src="assets/js/swiper-bundle.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<!-- Mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- Nice Select -->
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<!-- WOW JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Custom JS -->
	<script src="assets/js/custom.js"></script>
</body>


<!-- Mirrored from html.themeori.net/Bizconnect/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jun 2024 12:16:35 GMT -->
</html>