{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- --><!-- -->
<head>
    <!-- Start Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Bizconnect - Business Management Platform" />
    <meta name="keywords" content="Creative, Digital, multipage, landing, freelancer template" />
    <meta name="author" content="ThemeOri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title of Site -->
    <title>Membership | Bizconnect</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- Swiper -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/sass/style.css' %}">
</head>

<body>
 {% block content %}
 <div class="solution__area">
    <div class="container">
        <div class="solution__area-bg" data-background="assets/img/solution.png">
            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-9 lg-mb-30">
                    <p style="color: white; font-weight: bold; font-family: Arial; font-size: 16px;">REGISTER</p>
                    <div class="solution__area-left lg-center">
                        
                        <h2 class="mb-45">Manage Promote and Grow</h2>	
                    </div>					
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="solution__area-right t-right lg-center">
                        <a class="theme-bg-btn" >Select The option <i class="flaticon-arrow-right"></i></a>						
                    </div>					
                </div>
            </div>
        </div>
    </div>
</div>




<div class="blog__area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                <div class="blog__area-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="blog__area-item-image">
                        <img src="assets/img/blog-1.png" alt="">
                    </div>
                    <div class="blog__area-item-content pt-0">

                        <a href="{% url 'register_entrepreneurs' %}">
                            <div class="blog__area-item-content-date" style="padding: 20px; margin: 10px 0;">
                                <span style="font-size: 1.6em; "><i class="fas fa-user"></i>Sign Up as </span>								
                            </div>
                        </a>
                        
                        <h5>Entrepreneurs</h5>

                        <ul>
                                <li><i class="fas fa-info-circle"></i> Already have an Account?</li>
                        </ul>
                        <div class="blog__area-item-content-btn">
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
                <div class="blog__area-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="blog__area-item-image">
                        <img src="assets/img/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__area-item-content pt-0">
                        <a href="{% url 'register_investors' %}">
                            <div class="blog__area-item-content-date" style="padding: 20px; margin: 10px 0;">
                                <span style="font-size: 1.6em; "><i class="fas fa-user"></i>Sign Up as </span>								
                            </div>
                        </a>
                        
                        <h5>Investors</h5>
                        <ul>
                                <li><i class="fas fa-info-circle"></i> Already have an Account?</li>
                        </ul>
                        <div class="blog__area-item-content-btn">
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
                <div class="blog__area-item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="blog__area-item-image">
                        <img src="assets/img/blog-3.png" alt="">
                    </div>
                    <div class="blog__area-item-content pt-0">
                        <a href="{% url 'register_experts' %}">
                            <div class="blog__area-item-content-date" style="padding: 20px; margin: 10px 0;">
                                <span style="font-size: 1.6em; "><i class="fas fa-user"></i>Sign Up as</span>								
                            </div>
                        </a>
                        
                        <h5>Experts</h5>
                        <ul>
                                <li><i class="fas fa-info-circle"></i> Already have an Account?</li>
                        </ul>
                        <div class="blog__area-item-content-btn">
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
</div>


</div>


{% endblock%}

	
<!-- Scroll Top Start -->
<div class="scroll-top">	<i class="flaticon-up-arrow"></i>
</div>
<!-- Scroll Top End -->
  <!-- Main JS -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Counterup -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Progressbar JS -->
<script src="{% static 'assets/js/progressbar.min.js' %}"></script>
<!-- Magnific JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Swiper JS -->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- Mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- Nice Select -->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>


<!-- --><!-- -->
</html>