{% extends 'user_sidebar.html' %}{% block title %}Fundings | Bizconnect{% endblock title %}{% load static %}

{% block content %}
<div class="content wrapper mt-80">
    <div class="container mt-25">
        <div>
            <h2>Investment Fundings</h2>
            
        </div>
        {% if funds %}
        <div class="row">
            {% for fund in funds %}
            <div class="blog__standard-left-item col-lg-6 mb-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog__standard-left-item-content mt-30">
                    <ul>
                        <li class="mr-30 md-mr-15"><i class="flaticon-suitcase"></i> {{ fund.type }}</li>
                        <li><i class="flaticon-time-is-money"></i> {{ fund.investment_amount }}</li>
                    </ul>
                    <h3 class="mb-15">{{ fund.title }}</h3>
                    <p class="mb-20">{{ fund.notes }} </p>
                    <div class="pr-30">
                        <a class="pr-50" href="{% url 'businessidea_detail' fund.id %}?type=fund">Read More</a>                        
                    </div>
                </div>               
            </div>
            {% endfor %}           

        </div> 
        {% else %}
        <div>
            <div class="blog__standard-left-item mb-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog__standard-left-item-content mt-30">

                    <h3 class="mb-15">No funds present.</h3>
                    
                    
                </div>
            </div>

        </div>
        {% endif %}
        
        

    </div>
</div>


{% endblock content %}