{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- --><!-- -->

<head>
    <!-- Start Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Bizconnect - Business Management platform" />
    <meta name="keywords" content="Creative, Digital, multipage, landing, freelancer template" />
    <meta name="author" content="ThemeOri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title of Site -->
    <title>Investors Membership | Bizconnect</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- Swiper -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <!-- Magnific -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/sass/style.css' %}">
    <!-- Include your custom CSS -->


    <style>

        .tab {
            overflow: hidden;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            background-color: #FE8C12;
        }

        .tab button.active {
            background-color: #030A15;
        }

        .tab-content {
            display: none;
            padding: 6px 0px;
        }

        .tab-content.active {
            display: block;
        }
    </style>
</head>

<body>
    {% block content %}
    <div class="solution__area">
        <div class="container">
            <div class="solution__area-bg" data-background="assets/img/solution.png">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-9 lg-mb-30">
                        <p style="color: white; font-weight: bold; font-family: Arial; font-size: 16px;">REGISTER</p>
                        <div class="solution__area-left lg-center">

                            <h2 class="mb-45">Investors Membership</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container section-padding">
        <div class="tab row">
            <button class="col-md-6 theme-btn tablinks active" onclick="openForm(event, 'Person')"><h3 style="color: white;">Individual</h3></button>
            <button class="col-md-6 theme-btn tablinks" onclick="openForm(event, 'Company')"><h3 style="color: white;">Organisation</h3></button>
        </div>

        <div id="Person" class="tab-content active">
            <div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="register wow fadeInUp" data-wow-delay="0.8s">
                            <h4 class="mb-35">All Fields are required.</h4>
                            {% for message in messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{% if message.tags %} {{ message.tags }}{% endif %}">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                            <div class="register-form">
                                <form id="personForm" action="{% url 'submit_investor_form' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="individual">
                                    <div class="row">
                                        <div class="col-md-6 mb-30">
                                            <div class="register-form-group">
                                                <input required type="text" name="surname" placeholder="Surname">
                                            </div>
                                        </div>
                                        <div class="col-md-6 md-mb-30">
                                            <div class="register-form-group">
                                                <input required type="text" name="firstname" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-5 mb-30">
                                            <div class="register-form-group">
                                                <select required id="gender" name="gender">
                                                    <option value="">Select Gender</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-7 md-mb-30">
                                            <div class="register-form-group">
                                                <input required type="email" name="email"
                                                    placeholder="Email Address e.g. user@email.com">
                                            </div>
                                        </div>
                                        <div class="col-md-6 md-mb-30">
                                            <div class="register-form-group">
                                                <input required type="tel" name="contact"
                                                    placeholder="Contact e.g. 256 701 234 567">
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-30">
                                            <div class="register-form-group">
                                                <select required id="role" name="country">
                                                    <option value="">Select Country</option>
                                                    <option id="uganda" value="uganda">Uganda</option>
                                                    <option id="tanzania" value="tanzania">Tanzania</option>
                                                    <option id="kenya" value="kenya">Kenya</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h6 class="mb-30 col-md-2">Investment Preferences:</h6>
                                        <div id="investment-group" class="col-md-10 mb-30">
                                            <label for="tourism" class="mr-5">
                                                <input required type="checkbox" id="tourism" name="investment" value="Tourism and Hospitality">
                                                <span class="custom-checkbox"></span> Tourism and Hospitality
                                            </label>
                                            <label for="media" class="mr-5">
                                                <input type="checkbox" id="media" name="investment" value="Media and IT Services">
                                                <span class="custom-checkbox"></span> Media and IT services
                                            </label>
                                            <label for="commercial" class="mr-5">
                                                <input type="checkbox" id="commercial" name="investment"
                                                    value="Commercial">
                                                <span class="custom-checkbox"></span> Commercial Agriculture
                                            </label>
                                            <label for="estate" class="mr-5">
                                                <input type="checkbox" id="estate" name="investment" value="Real Estate">
                                                <span class="custom-checkbox"></span> Real Estate
                                            </label>
                                            <label for="manufacturing" class="mr-5">
                                                <input type="checkbox" id="manufacturing" name="investment"
                                                    value="Manufacturing">
                                                <span class="custom-checkbox"></span> Manufacturing
                                            </label>
                                            <label for="education" class="mr-5">
                                                <input type="checkbox" id="education" name="investment"
                                                    value="Education">
                                                <span class="custom-checkbox"></span> Education
                                            </label>
                                            <label for="health" class="mr-5">
                                                <input type="checkbox" id="health" name="investment" value="Health Care">
                                                <span class="custom-checkbox"></span> Health Care
                                            </label>
                                            <label for="wholesale">
                                                <input type="checkbox" id="wholesale" name="investment"
                                                    value="Wholesale Trade">
                                                <span class="custom-checkbox"></span> Wholesale Trade
                                            </label>
                                        </div>
                                        <div class="col-md-9 mb-30">
                                            <div class="register-form-group">
                                                <input required type="text" name="capital" placeholder="Capital Availability">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <div class="register-form-group">
                                                <textarea required name="information"
                                                    placeholder="Additional information"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2 col-md-3 mb-20">
                                            <div class="register-form-group">
                                                <button class="theme-btn" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-2">
                                            <div class="register-form-group">
                                                <button class="theme-btn" style="background: #030A15;" type="button"
                                                    onclick="javascript:history.back()">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Company" class="tab-content">
            <div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="register wow fadeInUp" data-wow-delay="0.8s">
                            <h4 class="mb-35">All Fields are required.</h4>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{% if message.tags %} {{ message.tags }}{% endif %}">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="register-form">
                                <form id="companyForm" action="{% url 'submit_investor_form' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="organization">
                                    <div class="row">
                                        <div class="col-md-6 mb-30">
                                            <div class="register-form-group">
                                                <input required type="text" name="company" placeholder="Company name">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-5 md-mb-30">
                                            <div class="register-form-group">
                                                <input required type="email" name="email"
                                                    placeholder="Email Address e.g. user@email.com">
                                            </div>
                                        </div>
                                        <div class="col-md-6 md-mb-30">
                                            <div class="register-form-group">
                                                <input required type="tel" name="contact"
                                                    placeholder="Contact e.g. 256 701 234 567">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 mb-30">
                                            <div class="register-form-group">
                                                <select required id="role" name="country">
                                                    <option value="">Select Country</option>
                                                    <option id="uganda" value="uganda">Uganda</option>
                                                    <option id="tanzania" value="tanzania">Tanzania</option>
                                                    <option id="kenya" value="kenya">Kenya</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h6 class="mb-30 col-md-2">Investment Preferences:</h6>
                                        <div id="investment-group" class="col-md-10 mb-30">
                                            <label for="tourism-company" class="mr-5">
                                                <input type="checkbox" id="tourism-company" name="tourism" value="tourism">
                                                <span class="custom-checkbox"></span> Tourism and Hospitality
                                            </label>
                                            <label for="media-company" class="mr-5">
                                                <input type="checkbox" id="media-company" name="media" value="media">
                                                <span class="custom-checkbox"></span> Media and IT services
                                            </label>
                                            <label for="commercial-company" class="mr-5">
                                                <input type="checkbox" id="commercial-company" name="commercial"
                                                    value="commercial">
                                                <span class="custom-checkbox"></span> Commercial Agriculture
                                            </label>
                                            <label for="estate-company" class="mr-5">
                                                <input type="checkbox" id="estate-company" name="estate" value="estate">
                                                <span class="custom-checkbox"></span> Real Estate
                                            </label>
                                            <label for="manufacturing-company" class="mr-5">
                                                <input type="checkbox" id="manufacturing-company" name="manufacturing"
                                                    value="manufacturing">
                                                <span class="custom-checkbox"></span> Manufacturing
                                            </label>
                                            <label for="education-company" class="mr-5">
                                                <input type="checkbox" id="education-company" name="education"
                                                    value="education">
                                                <span class="custom-checkbox"></span> Education
                                            </label>
                                            <label for="health-company" class="mr-5">
                                                <input type="checkbox" id="health-company" name="health" value="health">
                                                <span class="custom-checkbox"></span> Health Care
                                            </label>
                                            <label for="wholesale-company">
                                                <input type="checkbox" id="wholesale-company" name="wholesale"
                                                    value="wholesale">
                                                <span class="custom-checkbox"></span> Wholesale Trade
                                            </label>
                                        </div>
                                        <div class="col-md-9 mb-30">
                                            <div class="register-form-group">
                                                <input required type="text" name="capital" placeholder="Capital Availability">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <div class="register-form-group">
                                                <textarea required name="information"
                                                    placeholder="Additional information"></textarea>
                                            </div>
                                        </div>                                       

                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2 col-md-3 mb-20">
                                            <div class="register-form-group">
                                                <button class="theme-btn" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-3">
                                            <div class="register-form-group">
                                                <button class="theme-btn" style="background: #030A15;" type="button"
                                                    onclick="javascript:history.back()">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock%}
    <div class="footer__area-copyright pt-35 pb-35" style="background: #030A15;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-5 md-mb-20">
                    <div class="footer__area-copyright-left st-center">
                        <p>© 2022 Bizconnect - All rights reserved.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-7">
                    <div class="footer__area-copyright-right t-right st-center">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="error.html">Error</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Scroll Top Start -->
<div class="scroll-top"> <i class="flaticon-up-arrow"></i>
</div>
    <script>
        document.getElementById('personForm, companyForm').addEventListener('submit', function(event) {
            const investmentGroup = document.getElementById('investment-group');
    
            const investmentCheckboxes = investmentGroup.querySelectorAll('input[type="checkbox"]');
            
            let isInvestmentChecked = false;
            
            // Check if at least one checkbox is checked in the investment group
            for (const checkbox of investmentCheckboxes) {
                if (checkbox.checked) {
                    isInvestmentChecked = true;
                    break;
                }
            }
                        
            // If one of the groups has no checkboxes checked, prevent form submission
            if (!isInvestmentChecked) {
                alert('Please select at least one option from Investment Preferences.');
                event.preventDefault(); // Prevent form submission
            }
        });
        function openForm(evt, formName) {
            var i, tabcontent, tablinks;
            document.getElementById('personForm').reset();
            document.getElementById('companyForm').reset();
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(formName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Set default tab to Person
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementsByClassName('tablinks')[0].click();
        });
    </script>

    <!-- Scroll Top Start -->
    <div class="scroll-top"> <i class="flaticon-up-arrow"></i>
    </div>
    <!-- Scroll Top End -->
    <!-- Main JS -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Progressbar JS -->
    <script src="{% static 'assets/js/progressbar.min.js' %}"></script>
    <!-- Magnific JS -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Swiper JS -->
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <!-- Mean menu -->
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- Nice Select -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <!-- WOW JS -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


<!-- --><!-- -->

</html>